<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AutoMagic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>

<body class="news">
  <header>
    <div class="nav">
      <ul>
        <li class="navhome"><a href="{{url_for('home')}}">Home</a></li>
        <li class="navfind"><a href="{{url_for('index')}}">Search</a></li>
        <li class="navfind"><a href="{{url_for('review')}}">Review</a></li>
        <li class="navfind"><a href="{{url_for('index')}}">Search</a></li>
        <li class="navfind"><a href="{{url_for('index')}}">Search</a></li>
        <li class="navabout"><a href="#">About</a></li>
      </ul>
    </div>
  </header>
</body>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>

