{% extends "base.html" %}

{% block content %}
	<h1>Select Vehicle By Year/Make/Model/Trim</h1>
    <form action=" {{url_for('ymmt')}}" method="POST">
        {{ form.year }}
        {{ form.make }}
        {{ form.model }}
        {{ form.trim }}
        <input type="Submit">
    </form>
	<h1>Select Vehicle By License Plate and State</h1>
    <form action=" {{url_for('plate')}}" method="POST">
        {{ plate.state }}
        {{ plate.plate }}
        <input type="Submit">
    </form>
	
	<h1>Select Vehicle By VIN</h1>
    <form action=" {{url_for('vinParse')}}" method="POST">
        {{ vin.number }}
        <input type="Submit">
    </form>
	
<script src="/static/js/drop-form.js"></script>

{% endblock %}
